In [2]:
x <-4
if(x>3){
    y <-10
} else if(x<3){
    y <-0
} else{
    0
}

In [6]:
for(i in 1:10){
    print(i)
}
x<-c("a","b","c","d")

for(i in 1:4){
    print(x[i])
}
for (i in seq_along(x)){
    print(x[i])
}
for (letter in x){
    print(letter)
}
for(i in 1:4) print(x[i])

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "a"
[1] "b"
[1] "c"
[1] "d"

In [8]:
x<- matrix(1:6,2,3)
for (i in seq_len(nrow(x))){
    for(j in seq_len(ncol(x))){
        print(x[i,j])
    }
}

[1] 1
[1] 3
[1] 5
[1] 2
[1] 4
[1] 6

In [4]:
z<- 5
while (z>=3 && z<=10){#conditions are evaluated from left to right
    print(z)
    coin <- rbinom(1,1,0.5)
    if(coin==1){
        z<-z+1
    } else{
        z<-z-1
    }
}

[1] 5
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 7
[1] 6
[1] 7
[1] 6
[1] 7
[1] 6
[1] 5
[1] 6
[1] 7
[1] 6
[1] 5
[1] 6
[1] 5
[1] 4
[1] 3

In [3]:
x0<-1
tol <- 1e-08

repeat{
    x1<-computeEstimate()
    if (abs(x1-x0)<tol){
        break
    } else{
        x0<-x1
    }
}

ERROR: Error in computeEstimate(): could not find function "computeEstimate"

In [6]:
for(i in 1:30){
    if(i<=20){
        next #similar to continue
    }
    print(i)
    
}

[1] 21
[1] 22
[1] 23
[1] 24
[1] 25
[1] 26
[1] 27
[1] 28
[1] 29
[1] 30

In [23]:
add2 <-function(x,y){
    x+y
}

above10 <- function(x){
    use <- x>10
    x[use]
}

above<- function(x,n=10){
    use <- x>n
    x[use]
}

x<- 1:20

columnmean<- function(y, removeNA=TRUE){
    nc<-ncol(y)
    nc
    means<- numeric(nc)
    for(i in 1:nc){
        means[i]<- mean(y[,i],na.rm= removeNA)
    }
    means
}
columnmean(airquality)

[1]  42.129310 185.931507   9.957516  77.882353   6.993464  15.803922